In [1]:
import sqlite3 as sq
import pandas as pd

con=sq.connect("mulesoft.db") #creation of database
cr=con.cursor()


c1='''create table if not exists movies (movie_name varchar, actor_name varchar, actress_name varchar, year int, director_name varchar)'''
cr.execute(c1)

c2='''insert into movies values ("3 idiots", "Aamir khan","kareena kapoor", 2009, "rajkumar irani")'''
cr.execute(c2)

c3='''insert into movies values ("baahubli", "prabhas","anushka", 2015, "rajamouli")'''
cr.execute(c3)

c4='''insert into movies values ("gang leader", "nani", "priyanka arul mohan", 2019, "vikram") '''
cr.execute(c4)

In [6]:
a=pd.read_sql_query('''select * from movies''',con)
print(a)
print("="*100)

b=pd.read_sql_query('''select * from movies where year>=2015''',con)
print(b)
print("="*100)

c=pd.read_sql_query('''select * from movies where actor_name="nani"''',con)
print(c)
print("="*100)

    movie_name  actor_name         actress_name  year   director_name
0     3 idiots  Aamir khan       kareena kapoor  2009  rajkumar irani
1     baahubli     prabhas              anushka  2015       rajamouli
2  gang leader        nani  priyanka arul mohan  2019          vikram
====================================================================================================
    movie_name actor_name         actress_name  year director_name
0     baahubli    prabhas              anushka  2015     rajamouli
1  gang leader       nani  priyanka arul mohan  2019        vikram
====================================================================================================
    movie_name actor_name         actress_name  year director_name
0  gang leader       nani  priyanka arul mohan  2019        vikram
====================================================================================================

In [7]:
a.loc[a.year>2009]

    movie_name actor_name         actress_name  year director_name
1     baahubli    prabhas              anushka  2015     rajamouli
2  gang leader       nani  priyanka arul mohan  2019        vikram